<h1> <%= @student.name %></h1>
<% @student.addresses.each do |address| %>
  <ul>
      <li><%= address.description %></li>
      <li><%= address.street %></li>
      <li><%= address.city %></li>
      <li><%= address.state %></li>
      <li><%= address.zip_code %></li>
  </ul>
  <% end %>
<% @student.courses.each do |course| %>
  <p><%= course.title %></p>
<% end %>
<%= link_to 'Delete', student_path(@student), method: :delete %>
