<h1>Add a New Address for <%= @student.name %></h1>

<%= form_for [ @student, @address ] do |f| %>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :street %><br/>
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br/>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip_code %><br/>
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.submit 'submit' %>
  </p>
<% end %>

